{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
</style>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<div class="example-wrapper">
    <h1> {{ title }}! ✅</h1>
    <h3>Qui sommes nous</h3>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
    deserunt mollit anim id est laborum."</p>

    <h3>Communiqué de presse</h3>
    <ul>
        {% for linkId, linkData in links %}
            <li>
                {{ linkData['id'] }} - <a href="{{ linkData['url'] }}" target="_blank">{{ linkData['url'] }}</a>
                <a href="{{ path('download_pdf', {'linkId': linkId}) }}" target="_blank">Télécharger en PDF</a>
            </li>
        {% endfor %}
    </ul>
    <h3>Documents</h3>
    <h3>QR Code pour le téléchargement de l'application</h3>
    <div id="qrcode"></div>

    <script>
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: "http://localhost:8080/",
            width: 100,
            height: 100
        });
    </script>
</div>
{% endblock %}
