{% extends 'base.html.twig' %}

{% block title %}Demand{% endblock %}

{% block body %}
    <h1>Demand</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demand.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ demand.type }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ demand.about }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ demand.status is not null ? (demand.status == 1 ? 'Accepted' : 'Refused') : 'En cours' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_show', {'id': demand.employe.id}) }}">Back to profile</a>


    {{ include('demand/_delete_form.html.twig') }}
{% endblock %}
