{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}
    <h1>Mission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>DueDate</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.dueDate ? mission.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.status }}</td>

            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mission_new') }}">Create new</a>
{% endblock %}
