{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}
    <h1>Department index</h1>

    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ path('app_department_index', {'sort': 'id', 'direction': sortField == 'id' and sortOrder == 'asc' ? 'desc' : 'asc'}) }}">Id</a></th>
                <th><a href="{{ path('app_department_index', {'sort': 'description', 'direction': sortField == 'description' and sortOrder == 'asc' ? 'desc' : 'asc'}) }}">Description</a></th>
                <th><a href="{{ path('app_department_index', {'sort': 'address', 'direction': sortField == 'address' and sortOrder == 'asc' ? 'desc' : 'asc'}) }}">Address</a></th>
                <th><a href="{{ path('app_department_index', {'sort': 'roi', 'direction': sortField == 'roi' and sortOrder == 'asc' ? 'desc' : 'asc'}) }}">Roi</a></th>
                <th><a href="{{ path('app_department_index', {'sort': 'deptName', 'direction': sortField == 'deptName' and sortOrder == 'asc' ? 'desc' : 'asc'}) }}">Departments</a></th>
                <th>Manager's picture</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}


                {# {{ dump(pagination)}}
                {{ dump(sortField) }}
                {{ dump(sortOrder) }} #}

            </tr>
        </thead>
        <tbody>

        {% for department in pagination %}
            <tr>
                <td>{{ department.id }}</td>
                
                <td>{{ department.description }}</td>

                <td>{{ department.address }}</td>
                <td>{{ department.roi }}</td>
                <td>{{ department.deptName }}</td>
                <td>
                {% for deptManager in deptManagers %}
                   {%if deptManager.departement.id == department.id and deptManager.toDate ==  date('9999-01-01') %}
                    <img src="{{ asset('uploads/photos/' ~ deptManager.employee.id ~ '/' ~ deptManager.employee.photo) }}" alt="photo" width="100" height="100">
                {% endif %}
                {% endfor %}
                </td>

                <td>
                
                {% for nbEmployee in nbEmployees %}
                    
                     {%if nbEmployee.deptName == department.deptName %}
                        {{nbEmployee.employeeCount}}
                     {% endif %}
                {% endfor %}

                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_department_show', {'id': department.id}) }}">show</a>
                    <a href="{{ path('app_department_edit', {'id': department.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      <div class="pagination" style="width: 100%; display: flex; justify-content: center;">
        {{ knp_pagination_render(pagination) }}
    </div>
      

    <div>
        <h3>Number of employees in the company :
        {% set totalEmployees = nbEmployees|reduce((acc, item) => acc + item.employeeCount, 0) %}
        {{ totalEmployees }}
        </h3>
    </div>

    <div>
        <h3>Number of vacant positions :
            {% set deptTitlesLength = deptTitles|length %}
            {{ deptTitlesLength }} 
        </h3>  
        <a class="btn btn-success" href="{{ path('app_dept_title_index') }}">See vacant positions</a>
    </div>  
     
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-secondary" href="{{ path('app_department_new') }}">Create new</a>
    {% endif %}


    
{% endblock %}
