{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}
    <h1>Department index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Address</th>
                <th>Roi</th>
                <th>Departements</th>
                <th>Manager's Pic</th>
                <th>Number of Employees</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>

        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                
                <td>{{ department.description }}</td>

                <td>{{ department.address }}</td>
                <td>{{ department.roi }}</td>
                <td>{{ department.deptName }}</td>
                <td>
                {% for deptManager in deptManagers %}
                   {%if deptManager.departement.id == department.id and deptManager.toDate ==  date('9999-01-01') %}
                    <img src="{{ asset('uploads/photos/' ~ deptManager.employee.id ~ '/' ~ deptManager.employee.photo) }}" alt="photo" width="100" height="100">
                {% endif %}
                {% endfor %}
                </td>

                <td>
                {% for nbEmployee in nbEmployees %}
                     {%if nbEmployee.dept_name == department.deptName %}
                        {{nbEmployee.nb_employees}}
                     {% endif %}
                {% endfor %}

                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_department_show', {'id': department.id}) }}">show</a>
                    <a href="{{ path('app_department_edit', {'id': department.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <h3>Nombre total d'employés : 
        {% set totalEmployees = nbEmployees|reduce((acc, item) => acc + item.nb_employees, 0) %}
        {{ totalEmployees }}
        </h3>
    </div>

    <div>
        <h3>Nombre total de poste vacants :
            {% set deptTitlesLength = deptTitles|length %}
            {{ deptTitlesLength }} 
        </h3>  
        <a class="btn btn-success" href="{{ path('app_dept_title_index') }}">See vacant positions</a>
    </div>  
     
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-secondary" href="{{ path('app_department_new') }}">Create new</a>
    {% endif %}
{% endblock %}
