{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1>Employee index</h1>
    {# Formulaire de recherche #}
    <form method="get" action="{{ path('app_employee_index') }}">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search" value="{{ searchTerm }}">
        <button type="submit">Search</button>
    </form>

    {# Formulaire de tri #}
    <form method="get" action="{{ path('app_employee_index') }}">
        <label for="sortField1">Sort by:</label>
        <select id="sortField1" name="sortField1">
            <option value="id" {% if sortField1 == 'id' %}selected{% endif %}>Id</option>
            <option value="birthDate" {% if sortField1 == 'birthDate' %}selected{% endif %}>BirthDate</option>
            <option value="firstName" {% if sortField1 == 'firstName' %}selected{% endif %}>FirstName</option>
            <option value="lastName" {% if sortField1 == 'lastName' %}selected{% endif %}>LastName</option>
            <option value="gender" {% if sortField1 == 'gender' %}selected{% endif %}>Gender</option>
            <option value="hireDate" {% if sortField1 == 'hireDate' %}selected{% endif %}>HireDate</option>
            <!-- Ajoutez d'autres champs de tri au besoin -->
        </select>

        <label for="sortOrder1">Sort order:</label>
        <select id="sortOrder1" name="sortOrder1">
            <option value="asc" {% if sortOrder1 == 'asc' %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if sortOrder1 == 'desc' %}selected{% endif %}>Descending</option>
        </select>

        <label for="sortField2">Then by:</label>
        <select id="sortField2" name="sortField2">
            <option value="id" {% if sortField2 == 'id' %}selected{% endif %}>Id</option>
            <option value="birthDate" {% if sortField2 == 'birthDate' %}selected{% endif %}>BirthDate</option>
            <option value="firstName" {% if sortField2 == 'firstName' %}selected{% endif %}>FirstName</option>
            <option value="lastName" {% if sortField2 == 'lastName' %}selected{% endif %}>LastName</option>
            <option value="gender" {% if sortField2 == 'gender' %}selected{% endif %}>Gender</option>
            <option value="hireDate" {% if sortField2 == 'hireDate' %}selected{% endif %}>HireDate</option>
            <!-- Ajoutez d'autres champs de tri au besoin -->
        </select>

        <label for="sortOrder2">Sort order:</label>
        <select id="sortOrder2" name="sortOrder2">
        <option value="asc" {% if sortOrder2 == 'asc' %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if sortOrder2 == 'desc' %}selected{% endif %}>Descending</option>
        </select>



        

        <button type="submit">Apply</button>
    </form>

    <table class="table">
       <thead>
            <tr>
            <th><a href="{{ path('app_employee_index', {'sortField1': 'id', 'sortOrder1': sortField1 == 'id' and sortOrder1 == 'asc' ? 'desc' : 'asc', 'sortField2': sortField1 == 'id' ? sortField2 : 'id', 'sortOrder2': sortField1 == 'id' ? sortOrder2 : 'asc', 'search': searchTerm}) }}">Id</a></th>
            <th><a href="{{ path('app_employee_index', {'sortField1': 'birthDate', 'sortOrder1': sortField1 == 'birthDate' and sortOrder1 == 'asc' ? 'desc' : 'asc', 'sortField2': sortField1 == 'birthDate' ? sortField2 : 'id', 'sortOrder2': sortField1 == 'birthDate' ? sortOrder2 : 'asc', 'search': searchTerm}) }}">BirthDate</a></th>
            <th><a href="{{ path('app_employee_index', {'sortField1': 'firstName', 'sortOrder1': sortField1 == 'firstName' and sortOrder1 == 'asc' ? 'desc' : 'asc', 'sortField2': sortField1 == 'firstName' ? sortField2 : 'id', 'sortOrder2': sortField1 == 'firstName' ? sortOrder2 : 'asc', 'search': searchTerm}) }}">FirstName</a></th>
            <th><a href="{{ path('app_employee_index', {'sortField1': 'lastName', 'sortOrder1': sortField1 == 'lastName' and sortOrder1 == 'asc' ? 'desc' : 'asc', 'sortField2': sortField1 == 'lastName' ? sortField2 : 'id', 'sortOrder2': sortField1 == 'lastName' ? sortOrder2 : 'asc', 'search': searchTerm}) }}">LastName</a></th>
            <th><a href="{{ path('app_employee_index', {'sortField1': 'gender', 'sortOrder1': sortField1 == 'gender' and sortOrder1 == 'asc' ? 'desc' : 'asc', 'sortField2': sortField1 == 'gender' ? sortField2 : 'id', 'sortOrder2': sortField1 == 'gender' ? sortOrder2 : 'asc', 'search': searchTerm}) }}">Gender</a></th>
            <th><a href="{{ path('app_employee_index', {'sortField1': 'hireDate', 'sortOrder1': sortField1 == 'hireDate' and sortOrder1 == 'asc' ? 'desc' : 'asc', 'sortField2': sortField1 == 'hireDate' ? sortField2 : 'id', 'sortOrder2': sortField1 == 'hireDate' ? sortOrder2 : 'asc', 'search': searchTerm}) }}">HireDate</a></th>
            <th>Photo</th>
            <th>Email</th>
            <th>actions</th>
            </tr>
        </thead>

        <tbody>
        {% for employee in pagination %}
            
            <tr>
                <td>{{ employee.id }}</td>
                
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.gender.value}}</td>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
                <td>{% if employee.getPhoto() %}
                        <img src="{{ asset('uploads/photos/' ~ employee.id ~ '/' ~ employee.photo()) }}" alt="photo" width="100">
                        {% if app.user.id == employee.id %}
                        <a href="{{ asset('uploads/photos/' ~ employee.id ~ '/' ~ employee.photo()) }}" download>Download</a>
                        {% endif %}
                    {% else %}
                        <p>Aucune photo disponible</p>
                    {% endif %}
                </td>
                <td>{{ employee.email }}</td>
                <td>
                    <a href="{{ path('app_employee_show', {'id': employee.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
                {% endif %}
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination" style="width: 100%; display: flex; justify-content: center;">
        {{ knp_pagination_render(pagination) }}
    </div>
    

{% if is_granted('ROLE_ADMIN') %} {# ou {{ 'ROLE_ADMIN' in app.user.roles }}#}
    <a href="{{ path('app_employee_new') }}">Create new</a>
{% endif %}
{% endblock %}
